﻿* {
   color:white;
   margin: 0;
   padding: 0;
}
section.panel {
   padding-top:100px;
   background-color: transparent;
}
section.contacts h3 {
   font-size: 30px;
   font-weight: bold;
}

section.contacts h4 {
   font-size: 25px;
   font-weight: bold;
}

#about-us h3 {
   font-size: 30px;
   font-weight: bold;
   margin: 0;
   margin-bottom: 20px;
   padding: 0;
}

#about-us h4 {
   font-size: 20px;
   font-weight: bold;
}

#about-us #description {
   margin-bottom: 30px;
}

#about-us p {
   font-size: 25px;
   font-weight: bold;
   text-align: justify;
   line-height: 160%;
}

#nav_main li span {
   color: #777;
}

.break-word {
   word-wrap: break-word;
}

#home h2 {
   font-size: 50px;
}

#home h3 {
   font-size: 30px;
   font-weight: bold;
}

#home p {
   font-size: 40px;
}

.social_buttons {
   width: 45px;
   height: 45px;
}

.panel p {
   font-size: 25px;
   font-weight: bold;
}

.section-header {
   font-size: 40px;
   margin-bottom: 40px;
}

.panel .row .bx-wrapper .bx-viewport {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   border: none;
   background: transparent;
}

.panel .row .bx-wrapper .bx-pager.bx-default-pager a {
   background: #0fadd4;
}

.panel .row .bx-wrapper .bx-pager.bx-default-pager a:hover,
.panel .row .bx-wrapper .bx-pager.bx-default-pager a.active {
   background: #000;
}

#copyright, #developer {
   font-size: 15px;
}
