.social_buttons{
    width:45px;
    height:45px;
}

#carousel_slide .item{
    /*background: #a6e1ec;*/
    text-align: center;
    height: 600px !important;
}

#carousel_slide .item img {
    /*height: 500px !important;
    width: 600px !important;*/
    width:100%;
    height:100%;
}

.link_social_buttons {
    text-decoration: none;
}

.button_subscride {
    height: 45px;
    margin: 0px;
    padding: 0px 20px;
    border: 1px solid #8c8c8c;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 18px;
    text-align: left;
}

.footer {
    /*background-color: #3D6482;*/
    color:white;
    width: 100%;
    font-family: open-sans, sans-serif;

}

.footer .container .row {
    margin-top: 10px;
}

.footer ul {
    font-size: 11px;
    list-style: none;
}

.footer ul a{
    text-decoration: none;
    color:white;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li:first-child {
    margin-bottom: 10px;
}

.footer .footer-bottom-in .icon-block{
    font-size: 13px;
    /*background-color: #262B2F;*/
    height: 50px;
    width: 50px;
    border-radius: 10px;
    color: #8E9398;
}

.footer ul a:hover{
    color: #0096d6;
}

.my_footer{
    /*background-color: #1E2327;*/
    height:70px;
    position: relative;

}

.my_footer p {
    font-size: 12px;
}

.my_footer .wrapper-button {
    font-size: 13px;
    background-color: #262B2F;
    width: 50px;
    height:50px;
    border-radius: 10px;
    color: #8E9398;
    position: absolute;
    top:0%;
    right:15%;
}

.my_footer .wrapper-button:hover {
    cursor: pointer;
}
.my_footer .icon-block {
    position: absolute;
    top:30%;
    right:40%;
}

.ct_top_description {
    font-size:40px;
}

.ct_top_description h2 {
    font-size:40px;
}

.ct_main_header_logo {


}

#logo h1{
    color:white;
    display: inline;
    font-size: 80px;
}

.social_a {
    margin-right: 10px;
}

.backgr {
    padding-top: 80px;
    height: 1000px;
}

#hello {
    margin-top: 100px;
}

#hello h2{
    color:white;
    font-size: 50px;
}

#hello p {
    color:white;
    font-size: 40px;
}

#world {
    height: 950px;
}

#world h3 {
    color:white;
    font-size: 50px;
    margin-bottom:170px;
}

#world p {
    color:white;
    font-size: 25px;
}

#world_margin {
    position: relative;
}

#buisnes {
    height:950px;
    color: white;
}

#buisnes1 {
    height:970px;
    color: white;
}

#arch {
    height:870px;
    color: white;
}

#contacts {
    height:800px;
    color: white;
}

#formIdea p {
    font-size: 25px;
}
#formIdea input, #formIdea textarea {
    opacity: 0.75;
}

#have_question {
    font-size:25px;
    margin-bottom:10px;
}

#label_contacts {
    margin-bottom: 60px;
}

.world_img {
    max-width:200px;
    max-height:200px;
    border-radius: 35px;
    /*border:3px solid #40c0f2;*/
    padding:10px;
}

.col-centered {
    position: absolute;
    left:50%;
    bottom: -120px;
}

.bold {
    font-weight: bold;
}

.img_click {
    cursor: pointer;
}