﻿.clear {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

#main-area {
    font-family: arial, verdana, sans-serif;
}

.block_center {
    margin: 0px auto;
}

.main_section .header {
    width: 992px;
    padding: 30px 0px;
 /*   padding-right: 10px;*/
    border-bottom: 1px solid #e5e5e5;
}

.main_section .header .foot {
    padding: 34px 0px 11px 127px;
}

.add_file, .description_file {
    display: inline-block;
}

.add_file {
    width: 534px;
    max-width: 534px;
    float: left;
    font-size: 18px;
}

.add_file span {
    display: inline-block;
    margin-top: 5px;
}

.add_file .userinfo {
    position: relative;
    width: 365px;
    margin: 0px 10px 10px auto;
    padding: 0px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url("css/PIE.htc");
    float: right;
    font-size: 20px;
    resize: none;
}

.add_file textarea{
    height: 94px;
}

.add_file .userinfo:focus {
    border-color: #1b97f0;
}

.add_file_button {
    display: none;
    width: 376px;
    max-width: 376px;
    margin-top: 15px;
    /*float: right;*/
    padding-left: 156px;
}

.btn1, .btn2 {
    width: 149px;
    height: 33px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.btn1 input, .btn2 input {
    margin-top: -50px;
    margin-left: -410px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 100px;
    cursor: pointer;
}

.btn1 {
    background: url("images/designer/select_file.png") no-repeat scroll center top transparent;
}

.btn1:hover {
    background: url("images/designer/select_file.png") no-repeat scroll center center transparent;
}

.btn1:active {
    background: url("images/designer/select_file.png") no-repeat scroll center bottom transparent;
}

.btn2 {
    background: url("images/designer/add_file.png") no-repeat scroll center top transparent;
}

.btn2:hover {
    background: url("images/designer/add_file.png") no-repeat scroll center center transparent;
}

.btn2:active {
    background: url("images/designer/add_file.png") no-repeat scroll center bottom transparent;
}


.add_file_button .div_button {
    display: inline-block;
    width: 154px;
    margin-top: 0px;
    float: left;
}

.add_file_button .div_list {
    display: inline-block;
    float: left;
    margin-right: 0px;
    width: 840px;
    max-width: 840px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 230px;
    margin-top: -40px;
}

.add_file_button .div_list img {
    margin: 7px 4px auto 7px;
}

.description_file {
    width: 419px;
    max-width: 419px;
    padding: 17px 14px 17px 17px;
    float: right;
    font-size: 14px;
}

.main_section .section {
   /* padding: 23px 10px 0px 0px;*/
    padding-top: 23px;
}

.main_section .section .head {
    padding-left: 11px;
    max-width: 940px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_section .section .head span {
    color: #1b97f0;
}

.main_section .section .detail_file {
    width: 100%;
    margin-top: 12px;
}

.row1 {
    padding: 14px 5px 14px 19px;
    font-size: 13px;
    font-weight: bold;
}

.row1 img {
    margin-top: -7px;
    float: right;
}

.row2 {
    border-bottom: 1px solid #e7e7e7;
    padding: 0px 13px 17px 19px;
}

.row2_radio {
    display: inline-block;
    float: left;
    font-size: 15px;
}

.row2_radio div {
    height: 30px;
}

.row2_radio span {
    padding-left: 2px;
}

.radio, .checkbox {
    padding: 0px 5px 0px 0px;
    display: block;
    clear: left;
    float: left;
    cursor: pointer;
}

.radio {
    width: 16px;
    height: 16px;
    background: url("images/designer/radio.png") no-repeat;
}

.checkbox {
    width: 22px;
    height: 20px;
    background: url("images/designer/checkbox.png") no-repeat;
}

.row2_description {
    position: relative;
    display: inline-block;
    max-width: 577px;
    height: 224px;
    float: right;
    box-shadow: inset 0px 3px 5px #d0d4d1;
    background: -moz-linear-gradient(bottom, #fafcfb, #f5faf6);
    background: -webkit-gradient(linear, left bottom, left top,
        color-stop(0%, #fafcfb), color-stop(100%, #f5faf6));
    background: -webkit-linear-gradient(bottom, #fafcfb, #f5faf6);
    background: -o-linear-gradient(bottom, #fafcfb, #f5faf6);
    background: -ms-linear-gradient(bottom, #fafcfb, #f5faf6);
    background: linear-gradient(top, white, black);
    -pie-background: linear-gradient(#f5faf6, #fafcfb);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    behavior: url("css/PIE.htc");
/*    min-height: 208px;
min-width: 565px;*/
}

.row2_description img {
    display: inline-block;
    max-width: 262px;
    vertical-align: middle;
}

.row2_description .rd_right {
    display: inline-block;
    max-width: 365px;
    font-size: 16px;
    vertical-align: middle;
}

.rd_right .txt {
    padding: 10px;
    height: 224px;
}

.rd_right .rating {
    position: absolute;
    padding: 10px;
    bottom: 0px;
}

.rd_right .rating td {
    padding-right: 9px;
}

.row3 {
    border-bottom: 1px solid #e7e7e7;
    padding: 17px 0px 17px 19px;
    font-size: 16px;
}

.row3 thead {
    font-weight: bold;
}

.row3 td {
    padding: 5px 30px 10px 0px;
}

.row3 sup {
    font-size: 8px;
    vertical-align: super;
}

.row3 .max {
    display: table\9;
    table-layout: fixed\9;
    width: 130px\9;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    zoom: 1;
}

.row3 .warn {
    display: inline;
    border-bottom: 1px dotted #f77474;
    color: #f77474;
    cursor: pointer;
}

/*.row3_sel {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 25px;
    padding: 0;
    border: 1px solid #b9b9b9;
    border-radius: 1px;
    background: url("images-new/arrow_select.png") no-repeat right #fff;
    vertical-align: middle;
    overflow: hidden;
}

.row3_sel select {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 55px;
    height: 25px;
    border: none;
    background: transparent;
    font-size: 14px;
    outline-style: none;
    z-index: 0;
}

.row3_sel input {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 25px;
    padding: 0;
    border: none;
    font-size: 14px;
    z-index: 1;
}*/
.row3_number {
    width: 55px;
    height: 21px;
    padding: 0;
}

.button_browse {
    display: inline-block;
    width: 66px;
    height: 21px;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    background: url("images-new/button_browse.png") no-repeat center transparent;
    vertical-align: middle;
    cursor: pointer;
}

.row4 {
    padding: 9px 0px 16px 19px;
}

.row4 span {
    color: #1b97f0;
    font-weight: bold;
}

.row4 div {
    padding-top: 9px;
}

.foot {
    padding: 42px 29px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
}

.foot span {
    font-weight: normal;
}

.foot input {
    width: 207px;
    height: 43px;
    margin-top: 16px;
    margin-bottom: 3px;
    border: none;
    background: url("images/designer/order.png") no-repeat scroll center top transparent;
    cursor: pointer;
}

.foot input:hover {
    background: url("images/designer/order.png") no-repeat scroll center center transparent;
}

.foot input:active {
    background: url("images/designer/order.png") no-repeat scroll center bottom transparent;
}

.asterisk {
    display: none;
    width: 11px;
    height: 11px;
    margin-top: 5px;
    background-image: url("images/designer/asterisk.png");
}

.visible {
    display: block;
}

.show {
    display: inline-block;
}

.gray_block {
    position: relative;
    background-color: #f6f6f6;
    border: 1px solid #efefef;
    border-bottom: 2px solid #d0d0d0;
    -moz-border-radius: 4px;
    -wibkit-border-radius: 4px;
    border-radius: 4px;
    behavior: url("/css/PIE.htc");
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#676761;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:22px;
    height:20px;
    margin:-4px 4px 0 0;
    vertical-align:middle;
    background:url("images/designer/check_radio_sheet.png") 5px top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url("images/designer/check_radio_sheet.png") -17px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#676761;
	cursor: pointer;
}
input[type="radio"]:checked + label {
    color:#1b97f0;
}


input[type="radio"] + label span {
    display:inline-block;
    width:20px;
    height:16px;
    margin:-1px 7px 0 0;
    vertical-align:middle;
    background:url("images/designer/check_radio_sheet.png") -39px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url("images/designer/check_radio_sheet.png") -57px top no-repeat;
}

a.a_modal, a.a_modal:hover, a.a_modal:visited {
    color: #11a6da;
    text-decoration: underline;
}

a.a_modal:hover {
    text-decoration: none;
}

.clear_modal {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

.popup__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow: auto;
z-index: 1001;
}

.popup_modal {
    display: inline-block;
    position: relative;
    width: 606px;
    margin-top: 45px;
    font-size: 16px;
}

.popup_modal_model {
    display: inline-block;
    position: relative;
    width: 800px;
    margin-top: 45px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f6f6f6;
    font-size: 16px;
    text-align: left;
    z-index: 1002;
}

.popup_modal_model_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
}

.popup_modal_model_left {
    float: left;
    max-width: 210px;
    font-family: Arial;
    font-size: 14px;
    color: #676761;
}

.popup_modal_model_left_head {
    padding: 10px;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: middle;
    cursor: default;
}

.popup_modal_model_left_item {
    max-width: 210px;
    padding: 4px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.popup_modal_model_left_item:hover,
.popup_modal_model_left .active {
    color: #1b97f0;
}

.popup_modal_model_left .active {
    border: 2px solid #1b97f0;
    font-weight: bold;
}

.popup_modal_model_right {
    position: relative;
    height: 500px;
    float: right;
}

.popup_modal_model_right_pl {
    position: absolute;
    left: 10px;
    bottom: 5px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.popup_modal_arrow_left {
    position: absolute;
    top: 220px;
    left: 10px;
    cursor: pointer;
}

.popup_modal_arrow_right {
    position: absolute;
    top: 220px;
    right: 10px;
    cursor: pointer;
}

.close_img_modal {
  /*  margin-right: -47px;*/
    float: right;
    cursor: pointer;
}

.main_section_modal {
    width: 606px;
    margin: 0px auto;
    padding: 6px 53px 21px 43px;
    background-color: #fff;
    text-align: left;
}

.main_header_modal {
    margin-top: 9px;
    font-size: 22px;
    font-weight: bold;
}

.gratitude_modal{
    margin-bottom: 20px;
}

.gratitude_p_modal {
    margin: 22px 0px;
}

.gratitude_p_add_modal {
}

.gratitude_form_modal {
    margin-top: 20px;
}

.gratitude_form_span_modal {
    float: left;
    line-height: 32px;
}

.input_email_modal {
    float: left;
    margin: 0px 10px 0 0;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    width: 23%;
    height: 28px;
    padding-left: 5px;
}

.input_button_modal {
    border: none;
    margin-left: 3px;
    width: 231px;
    height: 33px;
    background: url("images/designer/subscribe.png") no-repeat scroll center top transparent;
    cursor: pointer;
}

.input_button_modal:hover {
    background: url("images/designer/subscribe.png") no-repeat scroll center center transparent;
}

.input_button_modal:active {
    background: url("images/designer/subscribe.png") no-repeat scroll center bottom transparent;
}

.main_footer_modal {
    position: relative;
    margin-top: 27px;
}

#vkontakte {
    width: 235px;
    height: 290px;
    max-height: 290px !important;
    float: left;
}

#vkontakte div, #vkontakte iframe {
    height: 290px !important;
}

.facebook_modal {
    width: 240px;
    height: 290px;
    float: right;
}

.comment-please{
	padding: 20px 0 20px 50px;
	font-size: 16px;
	font-weight: bold;
}


.description_error li {
    position: relative;
    display: block;
    margin-left: 0px;
    float: left;
}

.description_error ul {
    position: absolute;
    left: -9999px;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity;
    margin-left: -140px;
    padding: 0;
    list-style: none;
z-index: 1;
}

.description_error ul li {
    width: 340px;
    margin-top: 10px;
    padding: 15px;
    background-color: #f5f7fa;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 3px 5px #d0d4d1;
    border-top: none;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    behavior: url("/css/PIE.htc");
    float: none;
z-index: 2;
}

.description_error li:hover ul {
    left: 0;
    opacity: 1;
}

#blockscreen, #modalwindow {
    position: fixed;
}
#blockscreen {
    background: rgba(0, 0, 0, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
#modalwindow {
    z-index: 11;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    box-shadow: 0 0 10px #444;

}

#status {
    width: 417px;
}