﻿.view {
   width: 600px;
   height: 320px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   /*-webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;*/
   cursor: default;
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
   margin-bottom: 38px;
}
.view .mask,.view .content {
   /*margin-top: 13px;*/
   width: 600px;
   height: 320px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-size: 14px;
   position: relative;
   color: #fff;
   padding: 10px 20px 0;
   text-align: center;
}
.view span.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view span.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.captcha-block:before {
    content: "Введите следующие символы";
}
.captcha-block {
    padding: 15px 0;
    line-height: 50px;
}
.captcha-block input{
    width: 100px;
}
.captcha-block  *{
    vertical-align: middle;
}