﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 101%;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 18px;
    color: #3d3c3e;
}

/* chrome bug fix */
body { -webkit-animation: fix 1s 1; }
@-webkit-keyframes fix { 0% { opacity: 1 } 100% { opacity: 1 } }

article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
    display: block;
}

.ct_page_blog ol, .ct_page_blog ul {
    margin-left: 20px;
}

.ct_right ol, .ct_right ul {
    list-style: none;
    margin-left: 0;
}

/*
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
*/
strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: none;
}

p {
    margin-top: 15px;
}

a, a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 45px;
    font-weight: normal;
}

h2 {
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 33px;
    font-weight: normal;
}

h3 {
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 28px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

/*
input[type="text"]:focus {
    outline-style: none;
}

textarea:focus {
    outline-style: none;
}
*/

*:focus {
    outline-style: none;
}

.clear {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

.hide {
    display: none;
}

.ct_center {
    text-align: justify;
}

.ct_center:after {
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
}

.ct_center_int {
    display: inline-block;
    text-align: center;
    line-height: normal;
    vertical-align: top;
}

.ct_input_text {
    height: 45px;
    margin: 0px;
    padding: 0px 20px;
    border: 1px solid #8c8c8c;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 18px;
    text-align: left;
}

.ct_button {
    height: 43px;
    padding-top: 1px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    border-radius: 21px;
}

.ct_button button,
.ct_button a {
    display: block;
    height: 41px;
    margin: 0px 1px;
    padding: 0px 27px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: transparent;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    text-decoration: none;
    cursor: pointer;
    filter: Shadow(Color=#000000, Direction=90, Strength=1);
}

.ct_button_social {
    width: 250px;
    height: 42px;
}

.ct_button_social a {
    text-decoration: none;
}

.ct_button_social_vk,
.ct_button_social_fb,
.ct_button_social_insta,
.ct_button_social_gp,
.ct_button_social_tw {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.ct_button_social_vk {
    background: url("images-new/vk.png") no-repeat scroll center top transparent;
}

.ct_button_social_vk:hover {
    background: url("images-new/vk.png") no-repeat scroll center center transparent;
}

.ct_button_social_vk:active {
    background: url("images-new/vk.png") no-repeat scroll center bottom transparent;
}

.ct_button_social_fb {
    background: url("images-new/fb.png") no-repeat scroll center top transparent;
}

.ct_button_social_fb:hover {
    background: url("images-new/fb.png") no-repeat scroll center center transparent;
}

.ct_button_social_fb:active {
    background: url("images-new/fb.png") no-repeat scroll center bottom transparent;
}

.ct_button_social_insta {
    background: url("images-new/insta.png") no-repeat scroll center top transparent;
}

.ct_button_social_insta:hover {
    background: url("images-new/insta.png") no-repeat scroll center center transparent;
}

.ct_button_social_insta:active {
    background: url("images-new/insta.png") no-repeat scroll center bottom transparent;
}

.ct_button_social_gp {
    background: url("images-new/gp.png") no-repeat scroll center top transparent;
}

.ct_button_social_gp:hover {
    background: url("images-new/gp.png") no-repeat scroll center center transparent;
}

.ct_button_social_gp:active {
    background: url("images-new/gp.png") no-repeat scroll center bottom transparent;
}

.ct_button_social_tw {
    background: url("images-new/tw.png") no-repeat scroll center top transparent;
}

.ct_button_social_tw:hover {
    background: url("images-new/tw.png") no-repeat scroll center center transparent;
}

.ct_button_social_tw:active {
    background: url("images-new/tw.png") no-repeat scroll center bottom transparent;
}

.ct_button_red {
    background-color: #e14127;
}

.ct_button_red:hover {
    background-color: #d43a21;
}

.ct_button_red:active {
    background-color: #c33821;
}

.ct_button_blue {
    background-color: #2fbff1;
}

.ct_button_blue:hover {
    background-color: #2aaddb;
}

.ct_button_blue:active {
    background-color: #269fca;
}

.ct_button_green {
    background-color: #17a421;
}

.ct_button_green:hover {
    background-color: #15941e;
}

.ct_button_green:active {
    background-color: #13851b;
}

.ct_button_darkblue {
    background-color: #0b7ac8;
}

.ct_button_darkblue:hover {
    background-color: #086bb0;
}

.ct_button_darkblue:active {
    background-color: #095b95;
}

.ct_button_orange {
    background-color: #fdb301;
}

.ct_button_orange:hover {
    background-color: #fda101;
}

.ct_button_orange:active {
    background-color: #ec9704;
}

.ct_button_orange_1 {
    background-color: #f7b502;
}

.ct_button_orange_1:hover {
    background-color: #fda101;
}

.ct_button_orange_1:active {
    background-color: #ec9704;
}

.ct_main_header,
.ct_top,
.ct_main_menu,
.ct_main_footer_top,
.ct_main_footer_bottom,
.ct_idea,
.ct_idea_banner1,
.ct_idea_banner2,
.ct_idea_foot {
    width: 100%;
    min-width: 1280px;
    color: #fff;
}

.ct_main_header_data,
.ct_top_data,
.ct_top_designer_data,
.ct_main_menu_data,
.ct_main_footer_top_data,
.ct_main_footer_bottom_data,
.ct_shop,
.ct_idea_main,
.ct_blog {
    width: 1000px;
    margin: 0px auto;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 18px;
}

.ct_main_header {
   /* background: url("images-new/header_background.jpg") no-repeat scroll center top transparent;*/
    /*background-size: cover;*/
}

.ct_main_header_logo {
    position: relative;
    width: 392px;
    height: 92px;
    margin-top: 50px;
    float: left;
}

.ct_main_header_logo h1 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 15.7px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    top: 60px;
}

.ct_main_header_logo_1 h1 {
    color: #257288;
}

.ct_main_header_contact,
.ct_main_header_social {
    float: right;
}

.ct_main_header_social {
    margin-top: 61px;
    float: right;
}

.ct_main_header_contact {
    margin-top: 57px;
    margin-left: 33px;
    text-align: right;
}

.ct_main_header_contact a,
.ct_main_header_contact a:visited {
    color: #fff;
    text-decoration: underline;
}

.ct_main_header_contact a:hover {
    text-decoration: none;
}

.ct_top {
    /*background: url("images-new/header_background.jpg") no-repeat scroll center bottom transparent;
    background-size: cover;*/
}

.ct_main_header_1,
.ct_top_1 {
   /* background: #f6f6f6;
    background-size: auto;*/
}

.ct_top_data {
    position: relative;
}

.ct_top_data_carousel {
    position: absolute;
    height: 100%;
    top: -27px;
    right: 100px;
}

.ct_top_data_carousel,
.ct_top_data_carousel_items_img {
    width: 350px;
    height: 350px;
}

.ct_top_data_carousel {
    top: -20px;
    right: 86px;
    overflow: hidden;
}

.ct_top_data_carousel_items {
    width: 10000px;
    height: 100%;
    position: relative;
}

.ct_top_data_carousel_items_img {
    float: left;
}

.ct_top_data_carousel_items_img img {
    width: 100%;
    height: 100%;
}

.ct_top_description {
    width: 500px;
    margin-top: 20px;
    padding-bottom: 25px;
    float: left;
}

.ct_top_description_1 {
    margin-top: 68px;
    margin-bottom: 60px;
}

.ct_top_description h2 {
    margin-top: 0px;
    margin-bottom: 18px;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 33px;
    font-weight: normal;
}

.ct_top_description_1 h2 {
    font-size: 25px;
}

.ct_main_header_contact_1,
.ct_main_header_contact_1 a,
.ct_top_description_1,
.ct_top_designer_1 {
    color: #333;
}

.ct_top_designer {
    background-color: rgba(0, 0, 0, 0.3);
}

.ct_top_designer_1 {
    background-color: #2ca2cb;
}

.ct_top_designer_text {
    display: table-cell;
    height: 68px;
    padding-right: 50px;
    vertical-align: middle;
}

.ct_top_designer_1 .ct_top_designer_text {
    padding-right: 20px;
}

.ct_top_designer_btn {
    display: table-cell;
    margin-right: 0px;
    padding-top: 13px;
}

.ct_main_menu {
    background-color: #76d2f2;
    position: static;
    top: 0;
    z-index: 2;
}

.ct_main_menu_data {
    position: relative;
}

.ct_main_menu_data a {
    display: block;
    padding: 0 5px 0 10px;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 19px;
    color: #02495b;
    text-decoration: none;
}

.ct_main_menu_data ul {
    padding: 0px;
    list-style: none;
}

.ct_main_menu_data li {
    cursor: pointer;
}

.ct_main_menu_data li:hover {
    background-color: #64c2e3;
}

.ct_main_menu_data > ul {
    margin: 0px;
}

.ct_main_menu_data .active {
    background-color: #52b0d1;
}

.ct_main_menu_data_top {
    height: 68px;
    text-align: justify;
}

.ct_main_menu_data_top:after {
    display: inline-block;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
}

.ct_main_menu_data_top_pop-up {
    position: absolute;
    left: -9999px;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity;
    -moz-transition: 0.25s linear opacity;
    z-index: 2;
}

.ct_main_menu_data_top_pop-up_item:last-child {
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ct_main_menu_data_top_item {
    display: inline-block;
    position: relative;
    height: 68px;
}

/*width расчитывается динамически по формуле: 1000 / n,
где n - количество пунктов меню*/
.ct_main_menu_data_top_item{
    width: 200px;
    background-color: #76d2f2;
}


.ct_main_menu_data_top_pop-up_item {
    width: 225px;
    background-color: #76d2f2;
}

.ct_main_menu_data_top_item > a {
    line-height: 68px;
    text-align: center;
}

.ct_main_menu_data_top_pop-up_item {
    padding: 12px 0px;
    text-align: left;
}

.ct_main_menu_data_top_item:hover .ct_main_menu_data_top_pop-up {
    left: 0px;
    opacity: 1;
}

.ct_main_footer {
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 18px;
}

.ct_main_footer_top {
    padding-bottom: 45px;
    background-color: #d5eff8;
    color: #3d3c3e;
}
.ct_main_footer_top a { color: #3d3c3e; }

.ct_main_footer_top_data {
    padding-top: 3px;
}

.ct_main_footer_top_data h1 {
    margin-bottom: 30px;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}

.ct_main_footer_top_subscribe {
    position: relative;
    margin-top: 32px;
    margin-bottom: 48px;
}

.ct_main_footer_top_subscribe .ct_button_social {
    margin-top: 2px;
    float: left;
}

.ct_main_footer_top_subscribe_form {
    position: relative;
    float: right;
}

.ct_main_footer_top_subscribe_form .ct_input_text {
    width: 210px;
    margin-right: 10px;
    float: left;
}

.ct_main_footer_top_subscribe_form_button {
    display: table-cell;
    margin-top: 2px;
    margin-left: 8px;
    float: right;
}

.ct_main_footer_bottom {
    background-color: #76d2f2;
}

.ct_main_footer_bottom_data {
    padding: 18px 0px;
}

.ct_main_footer_bottom_data table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px 25px;
    border-collapse: separate;
}

.ct_main_footer_bottom_data a,
.ct_main_footer_bottom_data a:hover,
.ct_main_footer_bottom_data a:visited {
    color: #02495d;
}

.ct_main_footer_bottom_data a:hover {
    text-decoration: none;
}

.ct_shop {
    margin: 65px auto;
}

.ct_shop,
.ct_shop a,
.ct_shop a:visited {
    color: #3d3c3e;
}

.ct_shop_head {
    height: 105px;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 45px;
    text-align: center;
    line-height: 133px;
}

.ct_shop_main_category {
    width: 296px;
    height: 310px;
    margin-bottom: 35px;
    padding: 0px 25px;
}

.ct_shop_main_category img {
    margin-top: 18px;
}

.ct_shop_foot_subscribe {
    position: relative;
    margin-top: 12px;
}

.ct_shop_foot_subscribe .ct_input_text {
    width: 268px;
    margin-right: 10px;
}

.ct_shop_foot_subscribe_btn {
    display: table-cell;
    margin-top: 2px;
    float: right;
}

.ct_idea_banner1 {
   /* background: url("images-new/bgcleo.jpg") repeat scroll center top transparent;*/
}
.ct_idea_banner1.banner1 {
/*    background: url("images-new/hand_bg.jpg") no-repeat scroll center top transparent;*/
    background-size: cover;
}

.ct_idea_banner1_data,
.ct_idea_banner2_data {
    height: 400px;
}

.ct_idea_banner1_data {
    position: relative;
    width: 1280px;
    margin: 0px auto;
    padding: 62px 140px 0px 140px;
    color: #fff;
   /* background: url("images-new/cleo.png") no-repeat scroll right transparent;*/
}
.ct_idea_banner1_data.banner1 {
    position: relative;
    width: 1280px;
    margin: 0px auto;
    padding: 62px 140px 0px 140px;
    color: #656565;
    /*background: url("images-new/hand.png") no-repeat scroll left top transparent;*/
}
.ct_idea_banner1_data.banner1 h2 {
    margin-left: 400px; font-weight: bold; font-size: 19pt; margin-top: 110px;
}
.ct_idea_banner1_data.banner1 h3 { margin-left: 400px; font-size: 19pt; }
.ct_idea_banner1_data.banner1 h3 a { border-bottom: 2px solid #656565; text-decoration: none; color: #656565; }

.ct_idea_banner1_data h1 {
    color: #fbc10f;
}

.ct_idea_banner1_data h3 {
    padding-top: 11px;
}

.ct_idea_banner1_data_btn,
.ct_idea_banner2_data_btn {
    display: table-cell;
    position: absolute;
    bottom: 58px;
}

.ct_idea_banner2 {
    background-color: #000;
}

.ct_idea_banner2_data {
    position: relative;
    width: 1280px;
    margin: 0px auto;
    padding: 63px 140px 65px 140px;
   /* background: url("images-new/man.jpg") no-repeat scroll center transparent;*/
    color: #fff;
}

.ct_idea_banner2_data a,
.ct_idea_banner2_data a:visited {
    color: #fff;
}

.ct_slider_switch {
    position: absolute;
    width: 1000px;
    height: 14px;
    bottom: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.ct_slider_switch_circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("images-new/bottomNavOFF.png") no-repeat scroll center transparent;
    cursor: pointer;
}

.ct_slider_switch .active {
    background: url("images-new/bottomNavON.png") no-repeat scroll center transparent;
}

.ct_idea_main {
    position: relative;
    height: 417px;
    color: #333;
}

.ct_idea_main h3 {
    margin-top: 37px;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 28px;
    color: #3d3c3e;
    text-align: center;
}

.ct_idea_main_block1,
.ct_idea_main_block2,
.ct_idea_main_block3,
.ct_idea_main_block4 {
    position: absolute;
    top: 60px;
    width: 225px;
}

.ct_idea_main_block1 {
    left: 0px;
}

.ct_idea_main_block2 {
    left: 258px;
}

.ct_idea_main_block3 {
    left: 516px;
}

.ct_idea_main_block1 img,
.ct_idea_main_block3 img,
.ct_idea_main_block4 img {
    margin-left: 40px;
}

.ct_idea_main_block4 {
    left: 774px;
}

.ct_idea_main_block1 + img,
.ct_idea_main_block2 + img,
.ct_idea_main_block3 + img {
    position: absolute;
    top: 136px;
}

.ct_idea_main_block1 + img {
    left: 210px;
}

.ct_idea_main_block2 + img {
    left: 500px;
}

.ct_idea_main_block3 + img {
    left: 740px;
}

.ct_idea_foot {
    /*background-color: #c8b49d;*/
}

.ct_idea_foot_data {
    position: relative;
    width: 1280px;
    height: 580px;
    margin: 0px auto;
    padding: 42px 140px 0px 140px;
   /* background: url("images-new/yodaBG.png") no-repeat scroll center transparent;*/
    color: #fff;
}

.ct_idea_foot_txt {
    float: left;
}

.ct_idea_foot_form {
    position: relative;
    width: 313px;
    height: 500px;
    float: right;
}

.ct_idea_foot_form .ct_input_text {
    width: 269px;
    right: 2px;
    border: 1px solid #fff;
    background: url("images-new/px.png") repeat;
}

.ct_idea_foot_form_name {
    margin-top: -10px;
    margin-bottom: 13px;
    top: 0px;
}

.ct_idea_foot_form_email {
    top: 61px;
}

.ct_idea_foot_form_toptextarea {
    position: absolute;
    top: 123px;
    right: 0px;
}

.ct_idea_foot_form_textarea {
    position: absolute;
    top: 144px;
    right: 1px;
    width: 261px;
    height: 239px;
    padding: 25px;
    padding-top: 0px;
    background: url("images-new/px.png") repeat;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    resize: none;
    overflow: auto;
    font-family: 'Open Sans', Arial, Verdana;
    font-size: 18px;
}

.ct_idea_foot_form_textarea:focus {
    outline-style: none;
}

@-moz-document url-prefix()
{
    .ct_idea_foot_form_textarea {top: 143px;}
}

.ct_idea_foot_form_attach {
    position: absolute;
    top: 408px;
    right: 0px;
    width: 315px;
    height: 36px;
    background: url("images-new/attach_file.png") no-repeat scroll center transparent;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.ct_idea_foot_form_attach_btn {
    margin-top: -50px;
    margin-left: -500px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 100px;
    cursor: pointer;
}

.ct_idea_foot_form .ct_button_printidea {
    position: absolute;
    bottom: -5px;
}

.ct_blog {
    color: #3d3c3e;
}

.ct_blog_head {
    padding: 36px 0px;
    text-align: center;
}

.ct_blog_head a,
.ct_blog_head a:hover,
.ct_blog_head a:visited {
    text-decoration: none;
    color: #3d3c3e;
}

.ct_blog_head a:hover {
    color: #2f2f2f;
}

.ct_blog_main {
    padding: 16px 0px;
}

.ct_blog_main_row {
    margin-bottom: 34px;
}

.ct_blog_main_row_img {
    width: 352px;
    height: 270px;
    float: left;
}

.ct_blog_main_row > img,
.ct_blog_main_row_txt {
    display: inline-block;
    vertical-align: middle;
}

.ct_blog_main_row_txt {
    position: relative;
    width: 590px;
    margin-top: 0px;
    margin-left: 50px;
    float: right;
}

.ct_blog_main_row_txt_head {
    margin-top: 0px;
    font-weight: bold;
}

.ct_blog_main_row_txt_head a,
.ct_blog_main_row_txt_head a:visited {
    color: #3d3c3e;
}

.ct_blog_main_row_txt_txt {
    margin-bottom: 75px;
}

.ct_blog_main_row_txt_btn {
    display: table-cell;
    padding-top: 35px;
}

.ct_button_writenow {
    width: 306px;
    height: 39px;
    /*border: none;*/
    /*background: url("images-new/button_write_now.png") no-repeat scroll center top transparent;*/
	background: #52C04C;
	color: #fff;
	/*font-weight: bold;*/
	font-size: 20px;
	padding: 6px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border-width: 2px;
	border-color: #9ECF9B;
	border-style: solid;
    cursor: pointer;
}

.ct_button_writenow:hover {
    /*background: url("images-new/button_write_now.png") no-repeat scroll center center transparent;*/
	background: #45AE3F;
}

.ct_button_writenow:active {
    /*background: url("images-new/button_write_now.png") no-repeat scroll center bottom transparent;*/
	background: #3D9F37;
}

.ct_button_printidea {
    width: 310px;
    height: 43px;
    border: none;
    background: url("images-new/button_print_idea.png") no-repeat scroll center top transparent;
    cursor: pointer;
}

.ct_button_printidea:hover {
    background: url("images-new/button_print_idea.png") no-repeat scroll center transparent;
}

.ct_button_printidea:active {
    background: url("images-new/button_print_idea.png") no-repeat scroll center bottom transparent;
}

/* Page Blog */
#content-area {
    position: relative;
    width: 1280px;
    margin: 0px auto;
    padding: 0px 140px;
}

#content-area.fullwidth {
    margin-top: 30px;
}

#left-area {
    float: left;
}

.ct_page_blog {
    position: relative;
    margin-bottom: 32px;
    padding-top: 50px;
    font-size: 16px;
}

.ct_page_blog a,
.ct_page_blog a:hover,
.ct_page_blog a:visited {
    color: #3d3c3e;
}

.ct_page_blog_main {
    width: 700px;
    padding-right: 103px;
    float: left;
}

.ct_page_blog_main_description {
    padding-bottom: 38px;
}

.ct_page_blog_main_description h2 {
    font-size: 35px;
}

.ct_page_blog_main_description h2 a,
.ct_page_blog_main_description h2 a:visited {
    text-decoration: none;
}

.ct_page_blog_main_description_image {
    margin-top: 13px;
}

.ct_page_blog_main_description img {
    height: auto;
    max-width: 100%;
    width: auto;
}

.ct_right {
    width: 297px;
    padding-top: 50px;
    float: right;
}

.ct_search, .widget_search {
    display: inline-block;
    position: relative;
    width: 297px;
    border: 1px solid #bbb;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font-size: 0px;
    *display: inline;
    behavior: url('css/PIE.htc');
    zoom: 1;
}

.ct_search input[type="text"], .widget_search input[type="text"] {
    position: relative;
    width: 245px;
    height: 30px;
    margin: 0px;
    padding-left: 15px;
    border: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    behavior: url('/css/PIE.htc');
    font-size: 18px;
}

.ct_search  input[type="submit"], .widget_search  input[type="submit"] {
    position: absolute;
    width: 20px;
    height: 30px;
    bottom: 2px;
    padding: 0px;
    border: none;
    background: url("images-new/magnifier.png") no-repeat scroll center transparent;
    color: white;
    font-size: 1px;
}

.ct_search input[type="submit"]:hover, .widget_search input[type="submit"]:hover {
    cursor: pointer;
}

.ct_rubric a,
.ct_rubric a:visited {
    color: #333;
    text-decoration: none;
}

.ct_rubric_head, .widgettitle {
    padding-left: 11px;
    font-weight: bold;
}

.ct_rubric_item:first-child {
    margin-top: 20px;
}

.ct_rubric_item {
    position: relative;
    height: 30px;
    padding: 2px 11px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    float: left;
    clear: left;
    behavior: url('css/PIE.htc');
}

.ct_rubric .active {
    background-color: #76d2f2;
    font-weight: bold;
}

.ct_tag_cloud a, .tagcloud a {
    color: #676761;
    text-shadow: none;
    text-decoration: none;
}

.ct_tag_cloud_head {
    font-weight: bold;
}

.ct_tag_cloud_tags {
    border: 1px dotted red;
    height: 290px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.ct_vk {
    padding-top: 25px;
    padding-left: 11px;
}

.ct_vk_head {
    font-size: 16px;
    font-weight: bold;
}

.ct_vk_main {
    margin-top: 5px;
}

.ct_right .widget_text {
    padding: 25px 0px;
    border-bottom: 1px solid #e5e5e5;
}

.ct_right .widget_text a,
.ct_right .widget_text a:hover,
.ct_right .widget_text a:visited {
    color: #333;
    text-decoration: none;
}

.ct_right .widget_text li {
    position: relative;
    margin-top: 18px;
    padding: 2px 11px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    float: left;
    clear: left;
    behavior: url('css/PIE.htc');
}

.ct_right li.active {
    background-color: #76d2f2;
    font-weight: bold;
}

.ct_right li.circle {
    list-style: url("images-new/dot.jpg") outside;
    margin: 0px;
}

.ct_right .widget_tag_cloud {
    margin-top: 33px;
    margin-top: 21px;
    padding: 16px 0px 25px 11px;
    border-bottom: 1px solid #e5e5e5;
}

.ct_right .widget_tag_cloud h4 {
    margin-bottom: 17px;
}

.post-content li,
.wp_rp_content li {
    list-style: outside;
    margin-left: 20px;
}

.post-content li a,
.post-content li a:hover,
.post-content li a:visited,
.wp_rp_content li a,
.wp_rp_content li a:hover,
.wp_rp_content li a:visited {
    color: #11a6da;
}

.ct_page_blog_main_description .wp_rp_wrap {
    margin-bottom: 45px;
}

.material_main {
    width: 607px;
    font-size: 20px;
}

.material_title {
    padding: 20px 5px;
    font-size: 30px;
    font-weight: bold;
}

.material_left, .material_right {
    display: inline-block;
    width: 297px;
}

.material_left {
    float: left;
}

.material_right {
    float: right;
}

.material_link {
    display: table-cell;
    width: 297px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}

.material_link a,
.material_link a:hover,
.material_link a:visited {
    color: #11a6da;
}

.ct_contactwork .ct_input_text {
    width: 100%;
    margin-right: 25px;
    margin-bottom: 17px;
}

.ct_contactwork a,
.ct_contactwork a:hover,
.ct_contactwork a:visited {
    color: #11a6da;
}

.ct_contactwork_row_zip {
    font-size: 16px;
}

.ct_contactwork_textarea {
    width: 100%;
    height: 140px;
    padding: 20px 20px;
    border: 1px solid #8c8c8c;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    font-size: 18px;
    resize: vertical;
}

.ct_contactwork_textarea:focus {
    outline-style: none;
}

.tagcloud a:hover {
    color: #2f2f2f;
}

.ct_upload_comment a,
.ct_upload_comment a:hover,
.ct_upload_comment a:visited {
    color: #11a6da;
    text-decoration: underline;
}

.ct_upload_comment a:hover {
    text-decoration: none;
}

/*Для пагинатора потом подправить*/
.alignleft {
    margin: 0px 10px 10px 0px;
    float: left;
}

.alignright {
    margin: 0px 0px 10px 10px;
    float: right;
}

.ct_popup_social {
    position: fixed;
    bottom: 0px;
    width: 100%;
    min-height: 160px;
    margin-top: 20%;
    padding-bottom: 21px;
    background-color: #f6f6f6;
    z-index: 100500;
}

.ct_popup_social_close {
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
}

.ct_popup_social_data {
    width: 1030px;
    height: 100%;
    margin: 0 auto;
    font-size: 18px;
    color: #3d3c3e;
    padding-left: 25px;
}

.ct_popup_social_data_text {
    float: left;
    max-width: 380px;
    margin-top: 30px;
}

.ct_popup_social_data_subscribe {
    float: right;
    width: 620px;
    padding-left: 20px;
}

.ct_popup_social_data_subscribe_social {
    width: 635px;
    min-height: 46px;
    margin-top: 25px;
    padding: 12px 0px 0px 24px;
    border: 1px solid #e8e8e8;
    border-radius: 23px;
    background-color: #fff;
}

.ct_popup_social_data_subscribe_social_btn {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
/*    border: 1px dotted red;*/
}

.ct_popup_social_data_subscribe_name,
.ct_popup_social_data_subscribe_email {
    height: 26px;
    margin-top: 12px;
    padding: 0px 20px;
    border: 1px solid #e8e8e8;
    border-radius: 13px;
    background-color: #fff;
    font-size: 14px;
    color: #545353;
}

.ct_popup_social_data_subscribe_name {
    width: 200px;
}

.ct_popup_social_data_subscribe_email {
    width: 200px;
}

.ct_popup_social_data_subscribe_button {
    display: table-cell;
    float: right;
    margin-top: 12px;
}

.ct_popup_social_data_subscribe_button .ct_button {
    height: 27px;
    border-radius: 13px;
}

.ct_popup_social_data_subscribe_button .ct_button button {
    height: 25px;
    padding: 0px 14px;
  /*  font-family: OpenSans-Semibold, Arial, Verdana;*/
    font-size: 14px;
    line-height: normal;
}
.hint_window
{
	position: fixed;
	width: 250px;
	text-align: center;
	padding: 5px;
	border: 1px solid #666;
	border-radius: 3px;
	color: #676761;
	font-weight: bold;
}
/* idea-for-print */
.idea-for-print {
    display: table; width: 100%;
    background: #ececec;
}
.idea-for-print .slide_down {
    display: table;
    width: 100%;
    background: url(/wp-content/themes/flexible/images-prototype_2/screen3_slide_top_side.png) repeat-x;
}
.idea-for-print .slide_down div { display: table-cell; }
.idea-for-print .slide_down .img {
    cursor: pointer;
    width: 60px; height: 30px;
    background: url(/wp-content/themes/flexible/images-prototype_2/screen3_slide_top.png) no-repeat;
}

.idea-for-print .content { display: table; width: 950px; margin: 0 auto; padding: 20px 0 0; }
.idea-for-print .content .form, .idea-for-print .content .contacts { display: table-cell; }
.idea-for-print .content .form .title { font-size: 20px; padding: 7px 0; }
.idea-for-print .content .form .desc { font-size: 15px; color: gray; }
.idea-for-print .content .form .response {
    font-size: 15px;
    text-align: center;
    color: gray;
}
.idea-for-print .form_fields { width: 400px; }
.idea-for-print input, .idea-for-print .form_fields textarea {
    display: block;
    width: 400px;
    padding: 8px 15px;
    margin: 20px auto;
    border-radius: 20px;
    background: white;
    border: 1px solid #c6c6c6;
}
.idea-for-print .form_fields textarea {
    height: 200px;
    resize: none; overflow: auto;
}
.idea-for-print .form_fields .submit {
    color: white;
    background: #52c04d;
    width: 200px;
    text-align: center;
    font-size: 15px;
}
.idea-for-print .form_fields .submit:hover { background: #4cba49; }
.idea-for-print .form_fields .submit:active { background: #48b544; }
.idea-for-print .content .contacts .title { font-size: 20px; padding: 7px 0; }
.idea-for-print .content .contacts .phone_mail {
    display: table; width: 100%;
    padding: 10px 0 20px 0;
}
.idea-for-print .content .contacts .phone_mail * { display: table-cell; }
.idea-for-print .phone_icon {
    width: 42px; height: 42px;
    background: url(/wp-content/themes/flexible/images-prototype_2/phone_icon.png) no-repeat;
}
.idea-for-print .phone_mail .phone_text, .idea-for-print .phone_mail .mail_text {
    font-size: 15px;
    color: gray;
    vertical-align: middle;
    padding-left: 10px;
}
.idea-for-print .phone_mail .mail_text span { text-decoration: underline; }
.idea-for-print .mail_icon {
    width: 42px; height: 42px;
    background: url(/wp-content/themes/flexible/images-prototype_2/mail_icon.png) no-repeat;
}
.idea-for-print .socials * {
    width: 32px; height: 32px;
    padding-right: 5px;
    display: inline-block;
}
.idea-for-print .socials .vk { background: url(/wp-content/themes/flexible/images-prototype_2/vk_icon.png) no-repeat; }
.idea-for-print .socials .fb { background: url(/wp-content/themes/flexible/images-prototype_2/fb_icon.png) no-repeat; }
.idea-for-print .socials .instagram { background: url(/wp-content/themes/flexible/images-prototype_2/instagram_icon.png) no-repeat; }
.idea-for-print .socials .google_plus { background: url(/wp-content/themes/flexible/images-prototype_2/google_plus_icon.png) no-repeat; }
.idea-for-print .socials .twitter { background: url(/wp-content/themes/flexible/images-prototype_2/twitter_icon.png) no-repeat; }
.idea-for-print .contacts .fb_plugin { padding-top: 30px; }

.idea-for-print .slide_down_bottom { display: table; width: 100%; }
.idea-for-print .slide_down_bottom * {
    display: table-cell;
    background: url(/wp-content/themes/flexible/images-prototype_2/screen3_slide_bottom_side.png) repeat-x;
}
.idea-for-print .slide_down_bottom .img {
    width: 60px; height: 30px;
    background: url(/wp-content/themes/flexible/images-prototype_2/screen3_slide_bottom.png) repeat-x;
    cursor: pointer;
}
/* idea-for-print ends */

/* start footer css */

#proto_footer
{
	position: relative;
	top: -24px;
	background-color: #76D2F2;
	padding: 15px 0;
	line-height: 1.5;
}
#proto_footer a.fmenu
{
	text-decoration: none;
	color: #02495B;
	font-family: 'Open Sans',Arial,Verdana;
    font-size: 17px;
}
.proto_footer
{
	width: 100%;
	color: #6E6E6E;
	font-size: 12px;
}
.proto_footer .c1
{
	width: 18%;
	padding-left: 20px;
	vertical-align: middle;
	font-size: 14px;
	border-right: 1px solid #999999;
	text-align: center;
}
.proto_footer .c2
{
	width: 18%;
	padding-left: 20px;
	vertical-align: middle;
	border-right: 1px solid #999999;
	vertical-align: top;
}
.proto_footer .c3
{
	width: 18%;
	padding-left: 20px;
	vertical-align: top;
	border-right: 1px solid #999999;
}
.proto_footer .c4
{
	width: 18%;
	padding-left: 20px;
	vertical-align: top;
}
.proto_footer .c5
{
	font-size: 20px;
	color: #02495B;
	padding-right: 20px;
	text-align: right;
	vertical-align: middle;
}
.p_social
{
	margin: auto;
}
.p_social td
{
	padding: 5px;
}
.p_social img
{
	width: 32px;
	height: 32px;
	padding: 5px;
}
.proto_footer .center
{
	text-align: center;
}
.btn
{
	border-radius: 20px;
	color: #fff;
	font-size: 18px;
	padding: 5px 11px;
}
.getinfo
{
	background-color: #0B7AC8;
	border: none;
}
.ct_button_blue_1 {
    background-color: #0B7AC8;
	width: 300px;
}
.ct_button_blue_1:hover {
    background-color: #1B8AD8;
}

.ct_button_blue_10 {
    background-color: #0B7AC8;
    width: 330px;
	text-align: center;
	float: right;
}

.button_green {
     background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans',Arial,Verdana;
    font-size: 18px;
    font-weight: bold;
    height: 41px;
    line-height: 40px;
    margin: 0 1px;
    padding: 0 27px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
	background-color: #2FF18F;
}
.button_red {
     background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans',Arial,Verdana;
    font-size: 18px;
    font-weight: bold;
    height: 41px;
    line-height: 40px;
    margin: 0 1px;
    padding: 0 27px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
	background-color: #F12F2F;
}
.button_blue {
     background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans',Arial,Verdana;
    font-size: 18px;
    font-weight: bold;
    height: 41px;
    line-height: 40px;
    margin: 0 1px;
    padding: 0 27px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
	background-color: #2F2FF1;
}

/* end footer css*/

iframe[name="google_conversion_frame"]{
    display: none;
}

#sidebar{
    display: none;
}

#sidebar_v2{
    display: none;
}