﻿#__white_label { width: 990px; margin: 0 auto; font-family: "Open Sans", Arial, Verdana; text-align: center; }

#__white_label > form, #__white_label > .__rights { text-align: left; }
form.__upload_form, #__white_label .__rights { display: inline-block; vertical-align: middle; }
form.__upload_form { width: 530px; position: relative; margin-right: 20px; padding-bottom: 10px; }
form.__upload_form * label { min-width: 150px; display: inline-block; }
form.__upload_form * input[type="text"], form.__upload_form * input[type="email"], form.__upload_form * textarea {
    width: 367px;
    vertical-align: top;
    resize: none;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0;
    font-size: 20px;
}
form.__upload_form * textarea { height: 96px; }
form.__upload_form .__name, form.__upload_form .__email, form.__upload_form .__comment { padding-bottom: 10px; }
form.__upload_form .__file label { margin-left: 150px; }
form.__upload_form input[type="submit"] { display: none; }

#__white_label .__rights {
    width: 419px; height: auto;
    background-color: #F6F6F6;
    border: 1px solid #EFEFEF;
    border-bottom: 2px #D0D0D0;
    border-radius: 4px;
    font-size: 14px;
    color: #3D3C3E;
    padding: 17px 14px 17px 17px;
    box-sizing: border-box;
    /*box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);*/
    vertical-align: top;
}
#__white_label .__rights a { text-decoration: none; }
#__white_label .__rights a:hover { text-decoration: underline; }

.__notification {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 5px;
    text-align: center;
    margin: 10px 0;
}
.__notification.__end { text-align: left; }

form .__file_info { font-weight: bold; position: absolute; top: -30px; }
form .__file_info div { display: inline-block; color: #1B97F0; }
form .__choice_material { padding-bottom: 10px; font-weight: bold; }
form .__material_list, form .__material_img_info, form .__material_img, form .__material_info { display: inline-block; vertical-align: middle; }
form .__material_list { width: 370px; }
form .__material_list .__material { cursor: pointer; }
form .__material_list .__material * { cursor: pointer; }
form .__material_list .__material.active { cursor: default; }
form .__material_img {
    width: 200px; height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
form .__material_info { width: 350px; }

form.__order_form {
    background-color: #F6F6F6;
    border: 1px solid #EFEFEF;
    border-bottom: 2px #D0D0D0;
    border-radius: 4px;
    font-size: 14px;
    color: #3D3C3E;
    padding: 17px 14px 17px 17px;
    box-sizing: border-box;
    /*box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);*/
    vertical-align: top;
    position: relative;
    margin: 40px 0 260px 0;
}
form.__order_form.cost_condition { margin-bottom: 260px; }
form.__order_form * .__material input { display: none; }
form.__order_form * .__material span {
    width: 20px;
    height: 25px;
    display: inline-block; vertical-align: middle;
    background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/check_radio_sheet.png) no-repeat scroll -40px top transparent;
}
form.__order_form * .__material.active span { background-position: -57px top; }
form.__order_form * .__material label { margin-left: 5px; }
form.__order_form * .__material.active label { color: #1B97F0; }

form .__material_img_info {
    position: relative;
    max-width: 577px;
    margin-left: 20px;
    box-shadow: 0 3px 5px #D0D4D1 inset;
    background: -moz-linear-gradient(center bottom , #FAFCFB, #F5FAF6) repeat scroll 0% 0% transparent;
    border-radius: 4px;
}
form .__material_img {
    border: medium none;
    display: inline-block;
    max-width: 262px;
    vertical-align: middle;
    margin: 10px 5px;
}
form .__material_img[name="MATERIAL_FULLCOLOR"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_2.png); }
form .__material_img[name="MATERIAL_PHOTO"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_3.png); }
form .__material_img[name="MATERIAL_POLYAMID_WHITE"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_5.png); }
form .__material_img[name="MATERIAL_POLYAMID_BEIGE"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_1.png); }
form .__material_img[name="MATERIAL_ABS"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_6.png); }
form .__material_img[name="MATERIAL_PRIMEGRAY"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_4.png); }
form .__material_img[name="MATERIAL_VJ_CRYSTAL"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_3.png); }
form .__material_img[name="MATERIAL_VJ_DENTCAST"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_7.png); }
form .__material_img[name="MATERIAL_VJ_PEARLSTONE"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_8.png); }
form .__material_img[name="MATERIAL_VJ_X"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_9.png); }
form .__material_img[name="MATERIAL_VJ_HICAST"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_10.png); }
form .__material_img[name="MATERIAL_LS600"] { background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/material_11.png); }

form .__material_info {
    display: inline-block;
    max-width: 365px;
    vertical-align: middle;
    margin: 10px 5px 10px 0;
}

form .__material_info .__description { padding-bottom: 10px; }
form .__material_info * .__property .__name, form .__material_info * .__property .__estimation {
    display: inline-block;
    vertical-align: middle;
}
form .__material_info * .__property .__name { min-width: 120px; }
form .__material_info * .__property .__estimation { text-align: left; margin-left: 10px; }
form .__material_info * .__property .__estimation div {
    width: 11px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
}
form .__material_info * .__property .__estimation div.active { background-image: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/asterisk.png); }

form .__order {
    display: table; width: 100%;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    margin-top: 40px;
    border-spacing: 10px;
}
form .__order div.tr { display: table-row; }
form .__order div.tr.head { font-weight: bold; }
form .__order div.tr div.td { display: table-cell; text-align: center; }
form .__order div.tr div.td input { width: 55px; height: 21px; }
form .__order div.tr div.td:nth-child(2) {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

form.__order_form .__submit, form.__order_form .__second_submit, form .__action, form .__total_cost, form .__condition {
    position: absolute; bottom: -200px; left: 10px;
}
.__button {
    background: #2fbff1;
    height: 43px;
    border-radius: 21px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    padding: 1px 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);

    cursor: pointer;
    border: medium none;
}
.__button:hover { background-color: #2aaddb; }
.__button:active { background-color: #269fca; }

form.__order_form .__submit::after { content: ' или'; font-size: 20px; }
form.__order_form .__second_submit { left: 200px; }
form.__order_form.__condition .__submit, form.__order_form.__condition .__second_submit { bottom: -260px; }
form .__action { bottom: -60px; font-size: 18px; }
form .__total_cost { bottom: -140px; font-size: 20px; }
form .__total_cost .__head { font-weight: bold; }
form .__condition { font-size: 18px; bottom: -200px; }

form .__order div.tr.zero * { color: rgb(190, 190, 190); }
form .__order div.tr div.td.__model_src { text-align: left; }
form .__order div.tr div.td.__model_view {
    background: url(http://can-touch.ru/wp-content/themes/flexible/images-new/button_browse.png) no-repeat center;
    cursor: pointer;
    width: 66px; height: 21px;
}

form .__order div.tr div.td.correct {
    width: 19px; height: 14px;
    background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/ok.png) no-repeat center;
}

.__wl_mvc {
    width: 641px; height: 481px;
    position: absolute;
    top: 50%; left: 50%;
    margin-left: -320px; margin-top: -240px;
    background: url(http://can-touch.ru/wp-content/themes/flexible/images-new/fon_model.png) no-repeat center;
}
.__wl_mvc #__wl_cv { border-radius: 8px; }
.__wl_mvc .__close, .__wl_mvc .__info { position: absolute; }
.__wl_mvc .__close {
    width: 15px; height: 15px;
    top: 5px; right: 5px;
    cursor: pointer;
    background: url(http://can-touch.ru/wp-content/themes/flexible/images/designer/close.png) no-repeat center;
}
.__wl_mvc .__info {
    width: 255px; height: 35px;
    left: 5px; bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7); color: rgba(255, 255, 255, 0.5);
}